  <div class="character">
    <div class="attributes">
      <span>Strength: {{strength}} </span>
      <span>Constitution: {{stamina}}</span>
      <span>Size: {{size}}</span>
      <span>Intelligence: {{intelligence}}</span>
      <span>Power: {{power}}</span>
      <span>Dexterity: {{dexterity}}</span>
      <span>Charisma: {{charisma}}</span>
    </div>
    <div class="stats">
      HP: <span id="health">{{health}}</span> - <span id="hitDisplay"> 0 </span> <input id="hitAmount" type="range" min="0" max="30" step="1" value="0" /> <input type="button" id="hit" value="hit" />
    </div>
  </div>
