<div id="character{{name}}" class="character">
  <div class="header">
  <span class="name">{{name}}</span> <span class="controls"><button class="save">Save</button> <button class="delete">Delete</button></span>
  </div>
  <div class="attributes">
    <span class="title">Strength: </span> {{strength}}
    <span class="title">Constitution:</span> {{stamina}}
    <span class="title">Size:</span> {{size}}
    <span class="title">Intelligence:</span> {{intelligence}}
    <span class="title">Power:</span> {{power}}
    <span class="title">Dexterity:</span> {{dexterity}}
    <span class="title">Charisma:</span> {{charisma}}
  </div>
  <div class="strikeRank">
    <span class="title">Strike Rank:</span>
    DEX: {{ dexterityStrikeRank }} + SIZ: {{ sizeStrikeRank }} + Weapon: {{ weapon.StrikeRank }} = {{ totalStrikeRank }}
  </div>
  <div class="weapon">
    {{weapon.Weapon}} {{weapon.Damage}} {{attack}} / {{defence}}
  </div>
  <div class="armor">
    {{armor.armor}}
  </div>
  <div class="stats">
    HP: <span id="health">{{health}}</span> - <span id="hitDisplay"> 0 </span> <input id="hitAmount" type="range" min="0" max="30" step="1" value="0" /> <input type="button" id="hit" value="hit" />
  </div>
</div>
